Stacked AutoEncoder

Import the Libraries Needed

In [1]:
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable

Import the Datasets

In [2]:
#Column 0 is Movie ID, 1 is the title, 2 is the genre
movies = pd.read_csv('ml-1m/movies.dat', sep='::', header=None, engine='python', encoding='latin-1')
movies.head()

   0                                   1                             2
0  1                    Toy Story (1995)   Animation|Children's|Comedy
1  2                      Jumanji (1995)  Adventure|Children's|Fantasy
2  3             Grumpier Old Men (1995)                Comedy|Romance
3  4            Waiting to Exhale (1995)                  Comedy|Drama
4  5  Father of the Bride Part II (1995)                        Comedy

In [3]:
users = pd.read_csv('ml-1m/users.dat', sep='::', header=None, engine='python', encoding='latin-1')
users.head(10)

    0  1   2   3      4
0   1  F   1  10  48067
1   2  M  56  16  70072
2   3  M  25  15  55117
3   4  M  45   7  02460
4   5  M  25  20  55455
5   6  F  50   9  55117
6   7  M  35   1  06810
7   8  M  25  12  11413
8   9  M  25  17  61614
9  10  F  35   1  95370

In [4]:
#Column 0 is UserID, 1 is MovieID, 2 is the Ratings, 3 is timestamps and will be removed
ratings = pd.read_csv('ml-1m/ratings.dat', sep='::', header=None, engine='python', encoding='latin-1')
ratings.head(10)

   0     1  2          3
0  1  1193  5  978300760
1  1   661  3  978302109
2  1   914  3  978301968
3  1  3408  4  978300275
4  1  2355  5  978824291
5  1  1197  3  978302268
6  1  1287  5  978302039
7  1  2804  5  978300719
8  1   594  4  978302268
9  1   919  4  978301368

Preparing the train and test set

In [5]:
#This contains 80k reviews of the 100k so this is 80% of the data
training_set = np.array(pd.read_csv('ml-100k/u1.base', delimiter='\t'), dtype='int')

In [6]:
test_set = np.array(pd.read_csv('ml-100k/u1.test', delimiter='\t'), dtype='int')

Getting the number of users and movies

In [7]:
#Get the max number among both training and test set for the amount of users and amount of movies
nb_users = int(max(max(training_set[:,0]), max(test_set[:,0])))
nb_movies = int(max(max(training_set[:,1]), max(test_set[:,1])))

Convert the data into an array with users in lines and movies in columns

In [8]:
def convert(data):
    new_data = []
    for id_users in range(1, nb_users+1):
        id_movies = data[:, 1][data[:, 0] == id_users]
        id_ratings = data[:, 2][data[:, 0] == id_users]
        ratings = np.zeros(nb_movies)
        ratings[id_movies - 1] = id_ratings
        new_data.append(list(ratings))
    return new_data

In [9]:
training_set = convert(training_set)
test_set = convert(test_set)

Converting the data into Pytorch Tensors

In [10]:
training_set = torch.FloatTensor(training_set)
test_set = torch.FloatTensor(test_set)

Creating the architecture of the Neural Network (SAE = Stacked AutoEncoder)

In [16]:
class SAE(nn.Module):
    def __init__(self, ):
        super(SAE, self).__init__()
        self.fc1 = nn.Linear(nb_movies, 20)
        self.fc2 = nn.Linear(20, 10)
        self.fc3 = nn.Linear(10, 20)
        self.fc4 = nn.Linear(20, nb_movies)
        self.activation = nn.Sigmoid()
    def forward(self, x):
        x = self.activation(self.fc1(x))
        x = self.activation(self.fc2(x))
        x = self.activation(self.fc3(x))
        x = self.fc4(x)
        return x

In [17]:
sae = SAE()
criterion = nn.MSELoss()
optimizer = optim.RMSprop(sae.parameters(), lr = 0.01, weight_decay = 0.5)

Training the SAE

In [18]:
nb_epoch = 200
for epoch in range(1, nb_epoch + 1):
  train_loss = 0
  s = 0.
  for id_user in range(nb_users):
    input = Variable(training_set[id_user]).unsqueeze(0)
    target = input.clone()
    if torch.sum(target.data > 0) > 0:
      output = sae(input)
      target.require_grad = False
      output[target == 0] = 0
      loss = criterion(output, target)
      mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
      loss.backward()
      train_loss += np.sqrt(loss.data*mean_corrector)
      s += 1.
      optimizer.step()
  print('epoch: '+str(epoch)+'loss: '+ str(train_loss/s))

epoch: 1loss: tensor(1.7716)
epoch: 2loss: tensor(1.0966)
epoch: 3loss: tensor(1.0535)
epoch: 4loss: tensor(1.0383)
epoch: 5loss: tensor(1.0307)
epoch: 6loss: tensor(1.0268)
epoch: 7loss: tensor(1.0238)
epoch: 8loss: tensor(1.0220)
epoch: 9loss: tensor(1.0209)
epoch: 10loss: tensor(1.0197)
epoch: 11loss: tensor(1.0188)
epoch: 12loss: tensor(1.0186)
epoch: 13loss: tensor(1.0180)
epoch: 14loss: tensor(1.0174)
epoch: 15loss: tensor(1.0173)
epoch: 16loss: tensor(1.0169)
epoch: 17loss: tensor(1.0166)
epoch: 18loss: tensor(1.0167)
epoch: 19loss: tensor(1.0164)
epoch: 20loss: tensor(1.0163)
epoch: 21loss: tensor(1.0161)
epoch: 22loss: tensor(1.0161)
epoch: 23loss: tensor(1.0162)
epoch: 24loss: tensor(1.0160)
epoch: 25loss: tensor(1.0156)
epoch: 26loss: tensor(1.0154)
epoch: 27loss: tensor(1.0154)
epoch: 28loss: tensor(1.0150)
epoch: 29loss: tensor(1.0129)
epoch: 30loss: tensor(1.0117)
epoch: 31loss: tensor(1.0091)
epoch: 32loss: tensor(1.0090)
epoch: 33loss: tensor(1.0053)
epoch: 34loss: tensor(1.0059)
epoch: 35loss: tensor(1.0017)
epoch: 36loss: tensor(1.0011)
epoch: 37loss: tensor(0.9979)
epoch: 38loss: tensor(0.9985)
epoch: 39loss: tensor(0.9937)
epoch: 40loss: tensor(0.9935)
epoch: 41loss: tensor(0.9904)
epoch: 42loss: tensor(0.9908)
epoch: 43loss: tensor(0.9882)
epoch: 44loss: tensor(0.9877)
epoch: 45loss: tensor(0.9812)
epoch: 46loss: tensor(0.9814)
epoch: 47loss: tensor(0.9775)
epoch: 48loss: tensor(0.9802)
epoch: 49loss: tensor(0.9770)
epoch: 50loss: tensor(0.9761)
epoch: 51loss: tensor(0.9755)
epoch: 52loss: tensor(0.9735)
epoch: 53loss: tensor(0.9722)
epoch: 54loss: tensor(0.9748)
epoch: 55loss: tensor(0.9659)
epoch: 56loss: tensor(0.9674)
epoch: 57loss: tensor(0.9627)
epoch: 58loss: tensor(0.9651)
epoch: 59loss: tensor(0.9624)
epoch: 60loss: tensor(0.9612)
epoch: 61loss: tensor(0.9573)
epoch: 62loss: tensor(0.9607)
epoch: 63loss: tensor(0.9560)
epoch: 64loss: tensor(0.9568)
epoch: 65loss: tensor(0.9529)
epoch: 66loss: tensor(0.9527)
epoch: 67loss: tensor(0.9503)
epoch: 68loss: tensor(0.9505)
epoch: 69loss: tensor(0.9475)
epoch: 70loss: tensor(0.9497)
epoch: 71loss: tensor(0.9468)
epoch: 72loss: tensor(0.9505)
epoch: 73loss: tensor(0.9469)
epoch: 74loss: tensor(0.9467)
epoch: 75loss: tensor(0.9435)
epoch: 76loss: tensor(0.9452)
epoch: 77loss: tensor(0.9424)
epoch: 78loss: tensor(0.9431)
epoch: 79loss: tensor(0.9427)
epoch: 80loss: tensor(0.9449)
epoch: 81loss: tensor(0.9405)
epoch: 82loss: tensor(0.9420)
epoch: 83loss: tensor(0.9393)
epoch: 84loss: tensor(0.9411)
epoch: 85loss: tensor(0.9384)
epoch: 86loss: tensor(0.9396)
epoch: 87loss: tensor(0.9385)
epoch: 88loss: tensor(0.9397)
epoch: 89loss: tensor(0.9370)
epoch: 90loss: tensor(0.9388)
epoch: 91loss: tensor(0.9367)
epoch: 92loss: tensor(0.9413)
epoch: 93loss: tensor(0.9418)
epoch: 94loss: tensor(0.9371)
epoch: 95loss: tensor(0.9352)
epoch: 96loss: tensor(0.9363)
epoch: 97loss: tensor(0.9345)
epoch: 98loss: tensor(0.9357)
epoch: 99loss: tensor(0.9338)
epoch: 100loss: tensor(0.9344)
epoch: 101loss: tensor(0.9336)
epoch: 102loss: tensor(0.9358)
epoch: 103loss: tensor(0.9331)
epoch: 104loss: tensor(0.9332)
epoch: 105loss: tensor(0.9324)
epoch: 106loss: tensor(0.9321)
epoch: 107loss: tensor(0.9322)
epoch: 108loss: tensor(0.9335)
epoch: 109loss: tensor(0.9354)
epoch: 110loss: tensor(0.9347)
epoch: 111loss: tensor(0.9302)
epoch: 112loss: tensor(0.9396)
epoch: 113loss: tensor(0.9388)
epoch: 114loss: tensor(0.9377)
epoch: 115loss: tensor(0.9358)
epoch: 116loss: tensor(0.9366)
epoch: 117loss: tensor(0.9341)
epoch: 118loss: tensor(0.9352)
epoch: 119loss: tensor(0.9332)
epoch: 120loss: tensor(0.9345)
epoch: 121loss: tensor(0.9321)
epoch: 122loss: tensor(0.9337)
epoch: 123loss: tensor(0.9316)
epoch: 124loss: tensor(0.9328)
epoch: 125loss: tensor(0.9303)
epoch: 126loss: tensor(0.9315)
epoch: 127loss: tensor(0.9298)
epoch: 128loss: tensor(0.9311)
epoch: 129loss: tensor(0.9299)
epoch: 130loss: tensor(0.9304)
epoch: 131loss: tensor(0.9301)
epoch: 132loss: tensor(0.9421)
epoch: 133loss: tensor(0.9372)
epoch: 134loss: tensor(0.9365)
epoch: 135loss: tensor(0.9346)
epoch: 136loss: tensor(0.9357)
epoch: 137loss: tensor(0.9337)
epoch: 138loss: tensor(0.9334)
epoch: 139loss: tensor(0.9322)
epoch: 140loss: tensor(0.9325)
epoch: 141loss: tensor(0.9310)
epoch: 142loss: tensor(0.9311)
epoch: 143loss: tensor(0.9300)
epoch: 144loss: tensor(0.9304)
epoch: 145loss: tensor(0.9289)
epoch: 146loss: tensor(0.9295)
epoch: 147loss: tensor(0.9294)
epoch: 148loss: tensor(0.9288)
epoch: 149loss: tensor(0.9281)
epoch: 150loss: tensor(0.9286)
epoch: 151loss: tensor(0.9271)
epoch: 152loss: tensor(0.9277)
epoch: 153loss: tensor(0.9264)
epoch: 154loss: tensor(0.9267)
epoch: 155loss: tensor(0.9265)
epoch: 156loss: tensor(0.9271)
epoch: 157loss: tensor(0.9262)
epoch: 158loss: tensor(0.9262)
epoch: 159loss: tensor(0.9245)
epoch: 160loss: tensor(0.9255)
epoch: 161loss: tensor(0.9245)
epoch: 162loss: tensor(0.9254)
epoch: 163loss: tensor(0.9230)
epoch: 164loss: tensor(0.9242)
epoch: 165loss: tensor(0.9231)
epoch: 166loss: tensor(0.9238)
epoch: 167loss: tensor(0.9226)
epoch: 168loss: tensor(0.9266)
epoch: 169loss: tensor(0.9311)
epoch: 170loss: tensor(0.9252)
epoch: 171loss: tensor(0.9248)
epoch: 172loss: tensor(0.9238)
epoch: 173loss: tensor(0.9229)
epoch: 174loss: tensor(0.9235)
epoch: 175loss: tensor(0.9221)
epoch: 176loss: tensor(0.9230)
epoch: 177loss: tensor(0.9218)
epoch: 178loss: tensor(0.9222)
epoch: 179loss: tensor(0.9213)
epoch: 180loss: tensor(0.9221)
epoch: 181loss: tensor(0.9210)
epoch: 182loss: tensor(0.9219)
epoch: 183loss: tensor(0.9207)
epoch: 184loss: tensor(0.9212)
epoch: 185loss: tensor(0.9210)
epoch: 186loss: tensor(0.9211)
epoch: 187loss: tensor(0.9203)
epoch: 188loss: tensor(0.9206)
epoch: 189loss: tensor(0.9194)
epoch: 190loss: tensor(0.9210)
epoch: 191loss: tensor(0.9205)
epoch: 192loss: tensor(0.9203)
epoch: 193loss: tensor(0.9189)
epoch: 194loss: tensor(0.9199)
epoch: 195loss: tensor(0.9266)
epoch: 196loss: tensor(0.9315)
epoch: 197loss: tensor(0.9273)
epoch: 198loss: tensor(0.9274)
epoch: 199loss: tensor(0.9256)
epoch: 200loss: tensor(0.9275)

Testing the SAE

In [23]:
test_loss = 0
s = 0.
for id_user in range(nb_users):
  input = Variable(training_set[id_user]).unsqueeze(0)
  target = Variable(test_set[id_user]).unsqueeze(0)
  if torch.sum(target.data > 0) > 0:
    output = sae(input)
    target.require_grad = False
    output[target == 0] = 0
    loss = criterion(output, target)
    mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
    test_loss += np.sqrt(loss.data*mean_corrector)
    s += 1.
print('test loss: '+str(test_loss/s))

test loss: tensor(0.9679)